[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Test Runner System.
  #
  # The Initial Developer of the Original Code is Maciej Maczynski.
  # Portions created by Maciej Maczynski are Copyright (C) 2001
  # Maciej Maczynski. All Rights Reserved.
  #
  # Contributor(s): David Koenig <dkoenig@novell.com>
  #%]
    <tr:attachment id="[% a.id FILTER xml %]">
        <tr:submitter id="[% a.submitter_id FILTER xml %]">
            <tr:login>[% a.submitter.login_name FILTER xml %]</tr:login>
            <tr:name>[% a.submitter.realname FILTER xml %]</tr:name>
        </tr:submitter>
        <tr:description>[% a.description FILTER xml %]</tr:description>
        <tr:filename>[% a.filename FILTER xml %]</tr:filename>
        <tr:creation_ts>[% a.creation_ts.replace(' ','T') FILTER xml %]</tr:creation_ts>
        <tr:mime_type>[% a.mime_type FILTER xml %]</tr:mime_type>
        <tr:size>[% a.datasize FILTER xml %]</tr:size>
        <tr:contents encoding="base64">[% a.contents FILTER base64 %]</tr:contents>
    </tr:attachment>
    