    <link href="extensions/testopia/css/testopia.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        Testopia_user = {login: "[% user.login %]", id: [% user.id %]};
    </script>
