<table>
<tr>
    <td style="color: red; weight: bolder">
    This product has [% testopia_product.plans.size %] test plans 
    and [% testopia_product.runs.size %] test runs. 
    Deleting this product will delete all associated Testopia data including
    plans, cases, runs, builds, and environments.</td>
</tr>
</table>    