<?xml version="1.0"?>
<text>
<newbug>
    <product>[% caserun ? caserun.run.plan.product.name : case.plans.0.product.name FILTER xml %]</product>
    <case_id>[% case.id FILTER none %]</case_id>
    <version>[% caserun ? caserun.run.plan.product_version : case.plans.0.product_version FILTER xml %]</version>
    <component>[% case.components.0.name FILTER xml %]</component>
    <short_desc><![CDATA[[Test Case [% case.id FILTER none %]] [% case.summary FILTER none %]]]></short_desc>
    <comment><![CDATA[[% IF caserun %]STATUS: [% caserun.status %]
BUILD: [% caserun.build.name FILTER none %]
ENVIRONMENT: [% caserun.environment.name FILTER none %][% END %]
STEPS TO REPRODUCE: [% case.text.action FILTER none %]

EXPECTED OUTCOME: [% case.text.effect FILTER none %]]]></comment>
    <assigned_to>[% case.components.0.default_assignee.login FILTER xml %]</assigned_to>
    <qa_contact>[% case.components.0.default_qa_contact.login FILTER xml %]</qa_contact>
</newbug>
</text>