    <link href="extensions/Testopia/css/testopia.css" rel="stylesheet" type="text/css">
    <link href="extensions/Testopia/extjs/examples/ux/css/RowEditor.css" rel="stylesheet" type="text/css"  />
    <script type="text/javascript">
        Testopia_user = {login: "[% user.login %]", id: [% user.id %]};
        DEFAULT_CASE_STATUS = '[% Param('default-test-case-status') %]';
    </script>
